
html, body {
    margin: 0px;
    padding: 0;
    background-color: #efefef;
}

header {
    display: flex; /* allows div "boxes" to be next to each other */
    min-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #1976d2;
    color: white;
}

header > strong { /* select all the texts, which are the immediate children of header */
    margin: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976d2;
}

section {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

#lower_section_padding {
    padding-bottom: 70px; /* otherwise the footer can hide some content */
}

h1 {
    font-size: larger;
}

footer ul li a {
    text-decoration: none; /* controls underlining texts etc */
    color: white;
}

div.portrait > img { /* select all the images, which are the immediate children of div.portrait */
    width: 200px;
}

ol li {
    font-size: large;
    font-weight: bold;
    list-style: none;
}

ol li + li {
    font-size: medium;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

#courses_header {
    text-align: left;
}

.centered {
    text-align: center;
}

td, th {
    padding: 0 5px 5px 15px;
    border-bottom: 1px solid darkgrey;
}

tr:hover {
    background-color: #d0d0d0;
}

